dist/
dist-newstyle/
*.o
*.hi
*.pdf
*.png
.ghc.environment.*

cabal-dev/
cabal.sandbox.config
cabal.project.local

benchmarks/BlazeVsBinary
benchmarks/ChunkedWrite
benchmarks/BenchThroughput
benchmarks/StringAndText
benchmarks/Compression
benchmarks/LazyByteString
benchmarks/BenchmarkServer
benchmarks/FastPut
benchmarks/BuilderBufferRange
benchmarks/BoundedWrite
benchmarks/UnboxedAppend
benchmarks/Utf8IO

Criterion/ScalingBenchmark

tests/LlvmSegfault
tests/Tests
